@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
    font-family: "Lato", sans-serif;
}

.App {
    padding: 20px;
    text-align: center;
}

%btn {
    border-radius: 3px;
    padding: 0 20px;
    border: 1px solid #000;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
}

.btnmain {
    @extend %btn;
}

.main-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.main-wrapper {
    display: flex;
    padding: 0 80px;
    margin-top: 20px;

    &__video {
        max-width: 75%;
        flex: 0 0 75%;
    }

    &__video-item {
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        position: relative;

        &:after {
            content: url('/img/youtube-control.jpg');
            max-width: 900px;
            display: flex;
            position: absolute;
            top: 500px;
        }

    }

    &__playlist {
        max-width: 25%;
        flex: 0 0 25%;
    }
}

.video-image {
    max-width: 900px;
    width: 100%;
    height: 500px;
}




.playlist {
    &__title {
        margin: 0;
    }

    &__control {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.playlist-item {
    &__container {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    &__thumb {
        img {
            display: block;
        }
    }

    &__item {
        display: flex;
        width: 100%;
        margin: 3px auto;
    }

    &__title {
        padding: 5px 10px;
        width: 100%;
        text-align: left;
    }
}
